/* Styles */

body {
    display:flex;
    flex-direction:column;
} 

.header {
    height:fit-content;
    display:flex;
    justify-content:space-between;
    background-color:black;
}

.TD {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:black;
    align-items:center;
}

.TDLeft {
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.middlePortion {
    display:flex;
    flex-direction:column;
    background-color:white;
    gap:8px;
    padding:12px;
}

.box-container {
    display:flex;
    flex-direction:row;
    gap:16px;
    justify-content:center;
}

.imgPair {
    display:flex;
    flex-direction:column;
    padding:8px;
}

.quoteSection {
    background-color:#E5E7EB;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:fit-content;
    padding:40px;
    gap:8px;
}

.quote {
    width: 300px;
    text-align:center;
    font-size:36px;
    font-style:italic;
    color: #1F2937;
}

.author {
    font-weight: 900;
}

a {
    color: #F9FAF8;
    font-size:16px;
    text-decoration:none;
}

p {
    margin:2px 0;
    padding: 6px;
}

.callToActionSection {
    background-color:white;
    height:fit-content;
    padding:20px;
}

.colorBox {
    background-color: #1F2937;
    height:fit-content;
    margin:20px 60px 20px 60px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

.callToActionLeft {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:4px;
}

.mainText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder
}

.secondaryText, .headerLinkText {
    color: #F9FAF8;
    font-size:24px;
}

.link-container {
    display:flex;
    padding:6px;
    gap:12px;
    margin-right:12px;
}

.callToActionText {
    font-size:24px;
    color:#F9FAF8;
}

.callToActionDesc {
    font-size:12px;
    color:white;
}

.button {
    color:white;
    width:80px;
    background-color: #1F2937;
}

.infoHeaderText {
    font-size:36px;
    font-weight:bolder;
    color: #1F2937;
    text-align:center;
}

.footer {
    height:fit-content;
    background-color:black;
    text-align:center;
    color:white;
    padding:30px;
}